.summary{
display: flex;
justify-content: space-evenly;

}
/* .itemname{
    position: absolute;
    left: 300px;
}
.prices{
    position: absolute;
    left: 1300px;
}
.itemquantity{
    position: absolute;
    left: 500px;
} */