.maharaj {
  width: 7%;
  border: none;
  border-radius: 50%;
  position: absolute;
  left: 0;
}
.head1 {
  font-weight: bolder;
  font-size: 80px;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 769px) {
  .head1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 426px) {
  .head1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 321px) {
  .head1 {
    font-size: 25px;
  }
}