.backbtn {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 100px;
  border: none;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
}
.bttns1,
.bttns2 {
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 30%;
  cursor: pointer;
  background-color: white;
  font-weight: bolder;
  font-size: 20px;
}
.counts {
  font-weight: bolder;
}
.bttns:hover,
.backbtn:hover {
  background-color: lightpink;
}
.bttns:active,
.backbtn:active {
  background-color: lightgreen;
}
.quantity {
  display: flex;
}
.finalMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.foodName {
  font-weight: bolder;
  font-size: 20px;
}
.del {
  width: 120px;
  height: 70px;
  margin-left: 100px;
}
.thali_main {
  min-height: 100vh;
  width: 80vw;
  margin: auto;
  margin-top: 150px;
}
.tops {
  margin-top: 30px;
}
@media screen and (max-width: 426px) {
  .del{
    margin-left: 5px;
  }
}
@media screen and (max-width: 321px) {
  .thali_main {
    width: 100vw;
  }
}
