.App {
  text-align: center;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-simple-recipe-menu-design-psd-background-map-image_133527.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.598);
  background-blend-mode: overlay;
  /* background-position: center; */
}

